/*beginning of template styles*/
#bar {
  background-color: #13132C;
}

#brand {
  color: white;
}
#brand:hover {
  color: #add8e6;
}

#myNavbar {
  color: white;
}

.dropdown-menu {
  background-color: #13132C !important;
}
.dropdown-menu li a:hover {
  background-color: black !important;
}
.navbar-right li a {
  color: white !important;
  
}
.navbar-right li a:hover {
  color: #add8e6 !important;
  background-color: black !important;
}
html {
  position: relative;
  min-height: 100%;
}
#content {
  height: 50px;
	margin-bottom: 200px;
}

body { 
  padding-top: 100px; 
}

#logoInfo {
  height: 50px;
  color: white;
}


hr {
  border: 1px solid;
  border-color: #13132C;
}

#plumbPic {
  height: 400px;
}

#summaryEli {
  height: 300px;
}

#serviceInfo {
  height: 350px;
  text-align: center;
}

.learn {
  background-color: #13132C;
  color: white;
}

.table-responsive {
  border: 0;
}

tr{
  border-top: hidden;
}

.table-responsive {
  padding-top: 10px;
}

#footer {
  background-color: #13132C;
  height: 200px;
  color: white;
  padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.myCols {
  height: 100%;
  display: flex;
  align-items: center;
}

.servHeader {
  font-size: 1.25em;
}

.servDivide {
  border-left:1.5px solid #13132C;
}

#service {
  text-align: center;
  background-color: white;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.profile {
  max-height: 80%;
  width: auto;
  border-radius: 50%;
}

.navLink a {
  text-decoration: none;
  color: white;
}

.navLink a:hover {
  color: #add8e6;
}

.item img {
  min-height: 400px;
  max-height: 400px;
  width: auto;
  transition: .5s ease;
  opacity: 0.9;
}

#navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-left: 5px;
}

#contact {
  text-align: right;
}

.learn:hover {
  color: #add8e6;
}

.item:hover img {
  opacity: 0.6;
}

h1 {
  text-align: center;
}