/*beginning of template styles*/
@font-face {
	font-family: Arvo;
	src: url('../fonts/Arvo/Arvo-Regular.ttf');
}
@font-face {
	font-family: Playfair_Display_Reg;
	src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}
@font-face {
	font-family: Playfair_Display_Bold;
	src: url('../fonts/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf');
}
/*Used throughout page*/
body {
  overflow-x: hidden;
  letter-spacing: 0.075em;
}
.navbar {
	z-index: 9999;
}

.navbar-collapse {
	background-color: #13132C;
}

.navbar {
	z-index: 9999;
}

#content {
	margin-bottom: 250px;
	font-family: Playfair_Display_Reg;
	padding-right:0;
  	padding-left:0;
  	margin-right:auto;
  	margin-left:auto;
	width: 100%;
}

hr {
	background: linear-gradient(to right, rgba(0, 51, 102, 0), rgba(0, 51, 102, 0.75), rgba(0, 51, 102, 0));
	height: 2px;
}

h1 {
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

.learn {
  background-color: #13132C;
  color: white;
	letter-spacing: 1px;
}

.buttonSect {
  text-align: center;
  padding-bottom: 10px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*Beginning of header section https://southcorner.templates.editmysite.com/*/
#headerInfo {
	font-family: Arvo;
}

#head-businessLogo {
	height: 125px;
	text-align: center;
	width: 100%;
	margin: auto;
}


#head-contactInfo {
	height: 30px;
	text-align: center;
	font-size: 0.9em;
}

#head-contactInfo-em {
	text-align: right;
}

#head-contactInfo a {
	color: black;
	text-decoration: none;
	opacity: 0.9;
}

#head-contactInfo a:hover {
	transition: color 0.5s ease;
  color: #272391;
	opacity: 0.9;
}

#head-contactInfo-ph {
	text-align: left;
}

@media (max-width: 520px) {
	#head-businessLogo img {
		height: 60%;
		margin-top: 5%;
	}
	
	#head-contactInfo-em {
		text-align: center;
		width: 100%;
	}
	#head-contactInfo-ph {
		text-align: center;
		width: 100%;
	}

	#head-navDirectory {
		padding-top: 25px;
	}
}

#bar {
	background-color: #13132C !important;
	font-size: 0.9em;
	height: 50px;
	
}

.navbar {
	border-radius: 0;
}

#myNavbar {
	padding-top: 5px;
	text-align: center;
	width: 90%;
	margin:0 auto;
	color: white;
	
}

#myNavbar li {
	text-align: center;
}

.dropdown-toggle {
	background-color: #13132C !important;
}

.dropdown-menu {
  background-color: #13132C !important;
}

.dropdown-menu li a:hover {
  background-color: black !important;
}

.nav li a:hover {
	background-color: #13132C;
}

.nav li a {
  color: white !important;
	letter-spacing: 2px;
}

.nav li a:hover {
  transition: color 0.5s ease;
	color: #add8e6 !important;
	
}

.nav li.myActive > a {
	color: #add8e6 !important;
	border-bottom: 1px solid #add8e6;
	margin: auto;
}

@media (min-width: 1300px) {
	.nav li.myActive > a {
		width: 40%;
	}
}

@media (min-width: 1000px) {
	.nav li.myActive > a {
		width: 60%;
	}
}

@media (min-width: 700px) {
	.nav li.myActive > a {
		width: 80%;
	}
}

.navbar {
	margin-bottom: 0;
}

/*Beginning of content section*/
@media (min-width: 1080px){
	#content {
		height: 50vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 1080px) {
	#content > .align-items-center {
		padding: 15px;
	}
	
	#centerMap {
		width: 100%;
	}
}

@media (min-width: 990px) {
	#contInfo {
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f0f0f0;
	}

	#contInfo-Em, #contInfo-Ph {	
		height: 55%;
		background-color: #bfbfbf;
	}

	#contInfo-Em span, #contInfo-Ph span {
		font-size: 50px;
		display: flex;
		padding-top: 10px;
		justify-content: center;
		align-items: center;
		color: #13132C;
	}
	
	#contInfo-Em p, #contInfo-Ph p {
		padding-top: 5px;
	}
}

@media (max-width: 990px) {
	#contInfo {
		padding-top: 10px;
		height: 175px;
		margin: auto;
		text-align: center;
		background-color: #f0f0f0;
	}
	
	#contInfo-Em, #contInfo-Ph {	
		height: 45%;
		margin: auto;
		width: 90%;
		background-color: #bfbfbf;
	}
	#contInfo-Em span, #contInfo-Ph span {
		font-size: 25px;
		padding-top: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #13132C;
	}
	#contInfo-Em p, #contInfo-Ph p {
		padding-top: 3px;
	}
}

@media (max-width: 460px) {
	#contInfo {
		padding-top: 8px;
		height: 150px;
		margin: auto;
		text-align: center;
		background-color: #f0f0f0;
	}
	
	#contInfo-Em, #contInfo-Ph {	
		height: 45%;
		margin: auto;
		width: 90%;
		background-color: #bfbfbf;
	}
	#contInfo-Em span, #contInfo-Ph span {
		font-size: 15px;
		padding-top: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #13132C;
	}
	#contInfo-Em p, #contInfo-Ph p {
		padding-top: 3px;
	}
}

@media (max-height: 960px) and (min-width: 1080px) {
	#content {
		padding-top: 250px;
		padding-bottom: 250px;
	}	
}

#contInfo-Ph, #contInfo-Em {
	border: 1px solid;
}

#contInfo a {
	text-decoration: none;
	color: #13132C;
}
#content {
	letter-spacing: 0.5px;
	/*background-color: #f0f0f0;*/
}

.learn {
	border: white;
}

.learn:hover {
  color: #add8e6;
	background-color: #13132C;
}

.learn:active, .learn:hover, .learn:focus {
	background-color: #13132C !important;
}

.contInfo-Desc {
	margin-top: 10px;
	font-size:1.25em;
	font-family:playfair_display_reg;
	text-align:center;
}

/*Beginning of footer section*/
.table-responsive {
  border: 0;
}

tr{
  border-top: hidden;
}

.table-responsive {
  padding-top: 10px;
}

#footer {
  	background-color: #13132C;
  	height: 250px;
  	color: white;
  	padding-top: 20px;
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
	font-family: Arvo;
	letter-spacing: 1px;
}

.myCols {
  height: 100%;
  display: flex;
  align-items: center;
}

.navLink a {
  text-decoration: none;
  color: white;
}

.navLink a:hover {
  color: #add8e6;
}

#navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-left: 5px;
}

@media (max-width: 1140px) {
	
	#footer {
		height: 600px;
	}
	
	#content {
		margin-bottom: 600px;
	}
	
	#contact {
		width: 100%;
	}
	
	.navLink {
		width: 100%;
	}
	
	.opHours {
		width: 100%;
	}
}
@media (min-width: 1081px) {
	.myHide {
		display: inline;
	}
	
	#contact {
		text-align: right;
	}
}

.learn:hover {
  color: #add8e6;
}

#footer > div > hr {
	border-color: #add8e6;
}

@media (max-width: 735px) {
	.footerMobile {
		font-size: 0.6em;
	}
}
@media (max-width: 865px) {
	.footerMobile {
		font-size: 0.75em;
	}
}