/*beginning of template styles*/
@font-face {
	font-family: Arvo;
	src: url('../fonts/Arvo/Arvo-Regular.ttf');
}
@font-face {
	font-family: Playfair_Display_Reg;
	src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}

/*Beginning of header section*/
#bar {
  background-color: #13132C;
	font-family: Arvo;
}

@media (min-width: 0px) {
	#brandMain {
		color: white;
		width: 70%;
	}
	#brandSecEm {
		color: white;
		width: 60%;
		font-size: 0.8em;
	}
	#brandSecPh {
		color: white;
		width: 40%;
		font-size: 0.8em;
	}
}

@media (min-width: 850px) {
	#brandMain {
		color: white;
		width: 325px;
	}
	#brandSecEm, #brandSecPh {
		color: white;
		font-size: 0.9em;
	}
	#brandSecEm {
		width: 280px;
	}
	#brandSecPh {
		width: 200px;
	}
	.nav>li>a {
		padding-right: 40px;
	}
}

@media (min-width: 1000px) {
	.nav>li>a {
		padding-right: 80px;
	}
}

@media (min-width: 1430px) {
	.nav>li>a {
		padding-right: 20px;
	}
}

@media (min-width: 1630px) {
	.nav>li>a {
		padding-right: 30px;
	}
}

@media (min-width: 2010px) {
	.nav>li>a {
		padding-right: 80px;
	}
}

#brandMain:hover, #brandSecEm:hover, #brandSecPh:hover {
	transition: color 0.5s ease;
  color: #add8e6;
}

#myIcon:hover {
	color: #add8e6;
}

#myNavbar {
  color: white;
}

.dropdown-menu {
  background-color: #13132C !important;
}

.dropdown-menu li a:hover {
  background-color: black !important;
}

.navbar-right li a {
  color: white !important;
}

.navbar-right li a:hover {
  transition: color 0.5s ease;
	color: #add8e6 !important;
}

.navbar-right li.myActive a {
	color: #add8e6 !important;
}

/*Used throughout page*/
body {
  overflow-x: hidden;
  padding-top: 50px;
}

#content {
	margin-bottom: 250px;
	font-family: Playfair_Display_Reg;
}

hr {
	background: linear-gradient(to right, rgba(0, 51, 102, 0), rgba(0, 51, 102, 0.75), rgba(0, 51, 102, 0));
	height: 2px;
}

h1 {
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

.learn {
  background-color: #13132C;
  color: white;
}

.buttonSect {
  text-align: center;
  padding-bottom: 10px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*Beginning of carousel images section*/
/* To-do: try this instead https://smartslider3.com/blog/homepage-slider-examples/*/
#plumbPic {
  height: 400px;
}

#myCarousel {
	margin: auto;
	max-width: 40%;
}

.item img {
	min-height: 400px;
	max-height: 400px;
	width: 100%;
	transition: .5s ease;
	opacity: 0.9;
}

.item:hover img {
  opacity: 0.6;
}

/*Beginning of about me section*/
@media (min-width: 650px) {
	#summaryEli {
		height: 300px;
		padding-bottom: 75px;
	}
	
	.profile {
		max-height: 80%;
		width: auto;
		border-radius: 50%;
	}
}
@media (max-width: 650px) {
	#summaryEli {
		height: 400px;
		padding-bottom: 75px;
	}
	
	.profile {
		max-height: 50%;
		width: auto;
		border-radius: 50%;
	}
}

/*Beginning of services section*/
@media (max-width: 559px) {
	#serviceInfo {
		height: 350px;
		text-align: center;
	}
}
@media (min-width: 560px) {
	#serviceInfo {
		height: 300px;
		text-align: center;
	}
}

@media (min-width: 1050px) {
	#serviceInfo {
		height: 250px;
		text-align: center;
	}
}

.servContain {
	background-image: url("../img/freeUsePlumbBackground.jpg");
	background-size: 100% auto;
	color: white;
}

.servHeader {
  font-size: 1.25em;
}

#service {
  text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 5px;
}

/*Beginning of footer section*/
.table-responsive {
  border: 0;
}

tr{
  border-top: hidden;
}

.table-responsive {
  padding-top: 10px;
}

#footer {
  background-color: #13132C;
  height: 250px;
  color: white;
  padding-top: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-family: Arvo;
}

.myCols {
  height: 100%;
  display: flex;
  align-items: center;
}

.navLink a {
  text-decoration: none;
  color: white;
}

.navLink a:hover {
  color: #add8e6;
}

#navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-left: 5px;
}

@media (max-width: 1080px) {
	
	#footer {
		height: 600px;
	}
	
	#content {
		margin-bottom: 600px;
	}
	
	#contact {
		width: 100%;
	}
	
	.navLink {
		width: 100%;
	}
	
	.opHours {
		width: 100%;
	}
}
@media (min-width: 1081px) {
	.myHide {
		display: inline;
	}
	
	#contact {
		text-align: right;
	}
}

.learn:hover {
  color: #add8e6;
}

#footer > div > hr {
	border-color: #add8e6;
}

@media (max-width: 735px) {
	.footerMobile {
		font-size: 0.6em;
	}
}
@media (max-width: 865px) {
	.footerMobile {
		font-size: 0.75em;
	}
}