/*beginning of template styles*/
@font-face {
	font-family: Arvo;
	src: url('../fonts/Arvo/Arvo-Regular.ttf');
}
@font-face {
	font-family: Playfair_Display_Reg;
	src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}
@font-face {
	font-family: Playfair_Display_Bold;
	src: url('../fonts/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf');
}
/*Used throughout page*/
body {
  overflow-x: hidden;
}

.navbar {
	z-index: 9999;
}

.navbar-collapse {
	background-color: #13132C;
}

#content {
	margin-bottom: 250px;
	font-family: Playfair_Display_Reg;
	padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto;
	width: 100%;
}

hr {
	background: linear-gradient(to right, rgba(0, 51, 102, 0), rgba(0, 51, 102, 0.75), rgba(0, 51, 102, 0));
	height: 2px;
}

h1 {
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

.learn {
  background-color: #13132C;
  color: white;
	letter-spacing: 1px;
}

.buttonSect {
  text-align: center;
  padding-bottom: 10px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*Beginning of header section https://southcorner.templates.editmysite.com/*/
#headerInfo {
	font-family: Arvo;
}

#head-businessLogo {
	height: 125px;
	text-align: center;
	width: 100%;
	margin: auto;
}


#head-contactInfo {
	height: 30px;
	text-align: center;
	font-size: 0.9em;
}

#head-contactInfo-em {
	text-align: right;
}

#head-contactInfo a {
	color: black;
	text-decoration: none;
	opacity: 0.9;
}

#head-contactInfo a:hover {
	transition: color 0.5s ease;
  color: #272391;
	opacity: 0.9;
}

#head-contactInfo-ph {
	text-align: left;
}

@media (max-width: 460px) {
	#head-businessLogo img {
		height: 60%;
		margin-top: 5%;
	}
	#head-contactInfo-em {
		font-size: 0.85em;
	}
	#head-contactInfo-ph {
		font-size: 0.85em;
	}
}


#bar {
	background-color: #13132C !important;
	font-size: 0.9em;
	height: 50px;
	
}

.navbar {
	border-radius: 0;
}

#myNavbar {
	padding-top: 5px;
	text-align: center;
	width: 90%;
	margin:0 auto;
	color: white;
	
}

#myNavbar li {
	text-align: center;
}

.dropdown-toggle {
	background-color: #13132C !important;
}

.dropdown-menu {
  background-color: #13132C !important;
}

.dropdown-menu li a:hover {
  background-color: black !important;
}

.nav li a:hover {
	background-color: #13132C;
}

.nav li a {
  color: white !important;
	letter-spacing: 2px;
}

.nav li a:hover {
  transition: color 0.5s ease;
	color: #add8e6 !important;
	
}

.nav li.myActive a {
	color: #add8e6 !important;
	border-bottom: 1px solid #add8e6;
	margin: auto;
}

@media (min-width: 1300px) {
	.nav li.myActive a {
		width: 40%;
	}
}

@media (min-width: 1000px) {
	.nav li.myActive a {
		width: 60%;
	}
}

@media (min-width: 700px) {
	.nav li.myActive a {
		width: 80%;
	}
}

.navbar {
	margin-bottom: 0;
}

/*Beginning of welcome image section*/
#welcomeSect {
	height: 600px;
	width: 100%;
	margin: 0;
}

#welcomeSect .imgContainer {
  position: relative;
  text-align: center;
	width: 100%;
  color: white;
}

#welcomeSect img {
	filter: brightness(25%);
}

#welcomeSect .centered {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mainTitle {
	font-family: Playfair_Display_Bold;
}

#subTitle {
	color: #c9c9c9;
	font-family: Playfair_Display_Reg;
}

@media (min-width: 480px) {
	#mainTitle {
		font-size: 2.25em;
	}
	
	#subTitle {
		font-size: 1em;
	}
}

@media (min-width: 800px) {
	#mainTitle {
		font-size: 2.5em;
	}

	#subTitle {
		font-size: 1em;
	}
}
@media (min-width: 1050px) {
	#mainTitle {
		font-size: 3.5em;
	}

	#subTitle {
	font-size: 1.25em;
	}
}

/*Beginning of about company section*/
@media (min-width: 801px) {
	#aboutCompSect {
		height: 500px;
		margin: 0;
		background-color: white;
	}

	#aboutCompSect .aboutCol {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		letter-spacing: 0.5px;
	}
}

@media (max-width: 800px) {
	#aboutCompSect {
		height: 1000px;
	}
	.aboutCol {
		margin-left: 50px;
		margin-right: 50px;
		width: 80%;
		height: 500px;
		letter-spacing: 0.5px;
		flex-direction: column;
		display: flex;
		justify-content: center;
	}
}

/*Beginning of service section*/
@media (min-width: 990px) {
	#serveSect {
		height: 500px;
		margin: 0;
		background-color: #f0f0f0;
		letter-spacing: 0.5px;
	}

	#serveMTitle {
		height: 75px;
		margin: 0;
	}

	#serveSTitle {
		height: 125px;
		margin-left: 50px;
		margin-right: 50px;
		color: #4a4a4a;
		text-align: center;
	}

	#serveContent {
		height: 225px;
		margin: 0;
	}

	#serveContent .col-md-4 {
		text-align:center;
		height: 100%;
	}

	
}

@media (max-width: 990px){
	#serveSect {
		height: 850px;
		margin: 0;
		background-color: #f0f0f0;
		letter-spacing: 0.5px;
	}

	#serveMTitle {
		height: 75px;
		margin: 0;
	}

	#serveSTitle {
		height: 125px;
		margin-left: 50px;
		margin-right: 50px;
		color: #4a4a4a;
		text-align: center;
	}

	#serveContent {
		height: 600px;
		margin: 0;
	}

	#serveContent .col-md-4 {
		text-align:center;
		height: 200px;
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media (max-width: 700px) {
	#serveSect {
		height: 950px;
		margin: 0;
		background-color: #f0f0f0;
		letter-spacing: 0.5px;
	}

	#serveMTitle {
		height: 50px;
		margin: 0;
	}

	#serveSTitle {
		height: 175px;
		margin-left: 50px;
		margin-right: 50px;
		color: #4a4a4a;
		text-align: center;
	}

	#serveContent {
		height: 675px;
		margin: 0;
	}

	#serveContent .col-md-4 {
		text-align:center;
		height: 225px;
		margin-left: 15%;
		margin-right: 15%;
	}
}

#serveContent span {
	font-size: 65px;
}

#serveContent .servContTitle {
	font-size: 1.5em;
	font-family: Playfair_Display_Bold;
	color: #4a4a4a;
}

/*Beginning of gallery section*/
@media (min-width: 1380px) {
	#gallerySect {
		height: 700px;
	}
	#gallImg img {
		max-height: 250px;
	}
}

@media (min-width: 990px) {
	#gallerySect {
		height: 570px;
		margin: 0;
	}

	#galleryMTitle {
		height: 50px;
	}

	#gallerySTitle {
		height: 100px;
		text-align: center;
	}

	#galleryContentWrap {
		height: 420px;
	}

	#galleryContentImg {
		margin-left: 10%;
		width: 80%;
		height: 210px;
	}
	
	#gallImg img {
		max-height: 150px;
	}
}

@media (max-width: 990px) {
	#gallerySect {
		height: 1275px;
		margin: 0;
	}
	
	#galleryMTitle {
		height: 25px;
	}

	#gallerySTitle {
		height: 50px;
		text-align: center;
	}
	
	#galleryContentWrap {
		height: 1200px;
	}
	
	#gallerycontentImg {
		height: 400px;
	}
	
	#galleryContentImg #gallImg {
		width: 100%;
		padding: 5%;
	}
	
	#galleryContentImg #gallImg img {
		height: 200px;
		width: auto;
	}
	#gallerySect .buttonSect {
		text-align: center;
		height: 100px;
	}
}

@media (max-width: 800px) {
	#gallerySect {
		height: 1075px;
		margin: 0;
	}
	
	#galleryMTitle {
		height: 25px;
	}

	#gallerySTitle {
		height: 50px;
		text-align: center;
	}
	
	#galleryContentWrap {
		height: 1000px;
	}
	
	#galleryContentImg #gallImg {
		width: 100%;
		padding: 5%;
	}
	
	#galleryContentImg #gallImg img {
		height: 175px;
		width: auto;
	}
	#gallerySect .buttonSect {
		text-align: center;
		height: 100px;
	}
}

#gallImg img {
	width: 100%;
}

/*Beginning of footer section*/
.table-responsive {
  border: 0;
}

tr{
  border-top: hidden;
}

.table-responsive {
  padding-top: 10px;
}

#footer {
  background-color: #13132C;
  height: 250px;
  color: white;
  padding-top: 20px;
	position: absolute;
	bottom: 0;
	margin: 0;
	width: 100%;
	font-family: Arvo;
	letter-spacing: 1px;
}

.myCols {
  height: 100%;
  display: flex;
  align-items: center;
}

.navLink a {
  text-decoration: none;
  color: white;
}

.navLink a:hover {
  color: #add8e6;
}

#navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-left: 5px;
}

@media (max-width: 1080px) {
	
	#footer {
		height: 600px;
	}
	
	#content {
		margin-bottom: 600px;
	}
	
	#contact {
		width: 100%;
	}
	
	.navLink {
		width: 100%;
	}
	
	.opHours {
		width: 100%;
	}
}
@media (min-width: 1081px) {
	.myHide {
		display: inline;
	}
	
	#contact {
		text-align: right;
	}
}

.learn:hover {
  color: #add8e6;
}

#footer > div > hr {
	border-color: #add8e6;
}

@media (max-width: 735px) {
	.footerMobile {
		font-size: 0.6em;
	}
}
@media (max-width: 865px) {
	.footerMobile {
		font-size: 0.75em;
	}
}